:root {
  --Light-Black: #212121;
  --Light-Blue: #2196f3;
  --White: #ffffff;
  --Ligth-Grey: #e5e5e5;
  --Black: #000000;
  --Dark-Blue: #2f303a;
  --Withe-Grey: #f5f4fa;
  --Grey: #757575;
  --Gray-Shadow: #eeeeee;
  --Shadow-Red-Black: rgba(0, 0, 0, 0.15);
  --Shadow-RB-1: rgba(0, 0, 0, 0.12);
  --Shadow-RB-2: rgba(0, 0, 0, 0.14);
  --Shadow-RB-3: rgba(0, 0, 0, 0.2);
  --PBox-1: rgba(0, 0, 0, 0.1);
  --PBox-2: rgba(0, 0, 0, 0.08);
  --PBox-3: rgba(0, 0, 0, 0.12);
  --Adress-Bottom: rgba(255, 255, 255, 0.6);
}
body {
  margin: auto;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  background: var(--Ligth-Grey);
}
header {
  width: 1600px;
  background: var(--White);
}
main {
  width: 1600px;
  background: var(--White);
  margin-top: 1px;
}
.item-web {
  font-weight: 700;
  font-size: 26px;
  color: var(--Light-Blue);
}
.studio-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--Black);
}
.webstudio-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--Light-Blue);
  padding-left: 215px;
  margin-top: 24px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a [href] {
  cursor: pointer;
}
h1 {
  font-weight: 900;
  font-size: 44px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 14px;
}
.link {
  color: var(--Light-Black);
  font-weight: 500;
  font-size: 14px;
}
.link:hover,
.link:focus {
  color: var(--Light-Blue);
}
.mail-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
}
.mail-tel-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grey);
}
.mail-tel-item:hover,
.mail-tel-item:focus {
  color: var(--Light-Blue);
}
.bisnes-item {
  position: absolute;
  width: 1600px;
  height: 600px;
  background: var(--Dark-Blue);
  padding-top: 0px;
}
.text-item {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--White);
  padding-top: 200px;
}
.txt-main {
  font-weight: 700;
  color: var(--Light-Black);
  margin: 0px;
  padding-top: 94px;
text-align: center;
}
.txt-main-second {
    font-weight: 700;
    color: var(--Light-Black);
    margin: 0px;
    padding-top: 94px;
    padding-left: 695px;
}
.btn-services {
  background-color: var(--Light-Blue);
  box-shadow: 0px 4px 4px var(--Shadow-Red-Black);
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 700px;
  width: 200px;
  height: 50px;
  color: var(--White);
}
.main-txt-body {
  font-size: 14px;
  color: var(--Grey);
}
.box {
  background-color: var(--Withe);
  padding-bottom: 1px;
  padding: 94px  0px 50px 510px;
}
.txt-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
.txt-position {
  font-weight: 400;
  font-size: 16px;
  color: var(--Grey);
  text-align: center;
}
.main-team {
  background-color: var(--Withe-Grey);
}
.addr-item-home {
  width: 1600px;
}
/* adress-bottom */
.footer-adress {
  width: 1600px;
  height: 252px;
  background: var(--Dark-Blue);
}
.webstudio-item-bottom {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--Light-Blue);
}
.adress-set {
  display: block;
}

.adress {
  display: block;
  padding: 60px 215px;
}
.mail-tel-item-bottom {
  font-weight: 400;
  font-size: 14px;
  color: var(--Adress-Bottom);
}
.street-item {
  padding-top: 20px;
}
.adress-item {
  padding-top: 9px;
}
.web-item-bottom {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--Light-Blue);
}
.studio-item-bottom {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--White);
}
.addr-street {
  font-weight: 400;
  font-size: 14px;
  color: var(--White);
  margin: 0px;
}
/*  */
.menu-box-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--Light-Black);
}
.menu-box-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--Grey);
}
/*  navigation */
.top-nav {
  width: 1600px;
  height: 80px;
  display: flex;
}
.color{
  color: var(--Light-Blue)
}
.link-item {
  display: flex;
  padding-left: 44px;
  padding-top: 32px;
  margin: 0px;
}
.contact-item {
  margin: 0px;
  width: 511px;
  padding-top: 32px;
  padding-left: 376px;
  display: flex;
}
.portf-item {
  padding-left: 46px;
}
.tel-item {
  width: 375px;
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 215px;
}
/* Lore Ipsum */
.lore-ipsum {
  padding-top: 600px;
}
.lorem-set {
  display: flex;
  padding: 94px 215px;
}
.lorem-item {
  justify-content: center;
}
/*  Job */
.box-index{
    /* padding-left: 510px;
    padding-top: 94px; */
    /* padding-bottom: 50px; */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: var(--Withe-Grey) ;
  }
.job {
  width: 1600px;
  height: 648px;
  margin: 0px;
}
.img-set {
  display: flex;
  padding-top: 50px;
  padding-left: 215px;
}
.img-item {
  padding-right: 30px;
}
.boxi-set {
  display: flex;
     padding-top: 186px;
  padding: 50px 215px; 
}
.boxi-item {
  background-color: var(--White);
  width: 270px;
  margin-right: 30px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px var(--Shadow-RB-1), 0px 1px 1px var(--Shadow-RB-2),
    0px 2px 1px var(--Shadow-RB-3);
  border-radius: 0px 0px 4px 4px;
}
/* portfolio-buttons */
.container {
  width: 1600px;
  height: auto;
  background-color: var(--White);
  padding-bottom: 94px;
}
.box-btn {
  padding-top: 100px;
  padding-left: 510px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 50px;
}
.btn {
  width: 121px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: var(--Withe-Grey);
  border-radius: 4px;
  box-shadow: 0px 3px 1px var(--PBox-1), 0px 1px 2px var(--PBox-2),
    0px 2px 2px var(--PBox-3);
  border-radius: 4px;
  border: 0px;
  margin:0px 4px;
}
.btn:hover {
  color: white;
  background-color: var(--Light-Blue);
}
/* Box-Page-Portfolio */
.box-container {
  width: 1600px;
  padding-bottom: 94px;
}
.box-set {
  display: flex;
  gap: 30px;
  column-gap: 30px;
  flex-wrap: wrap;
  padding-left: 215px;
}
.box-item {
  flex-basis: calc((100% -2 * 30px) / 3);
  max-width: 370px;
  max-height: 404px;
  background-color: var(--White);
  border: 1px solid var(--Gray-Shadow);
}
.menu-box-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--Light-Black);
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.menu-box-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--Grey);
  padding-left: 24px;
  padding-top: 4px;
  margin: 0px;
  margin-bottom: 20px;
}
